<div>
  <% @inventories.each do |inv| %>
    <div>
      <div>
        <h3>
          <%= inv.name %>
        </h3>
        <%= button_to 'REMOVE', inventory_path(inv), method: :delete, data: { confirm: 'Are you sure!' }%>
      </div>
      <div>
        <%= inv.description %>
      </div>
    </div>
</div>
