<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h1 class="mb-5">Recipes</h1>
    <% @recipes.each_with_index do |recipe,index| %>
      <div class="row w-50 border">
        <div class="col-4 border p-3">
          <h3>
            <%= link_to recipe.name, recipe_path(recipe) %>
          </h3>
          <%= link_to "REMOVE", recipe_path(recipe), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="col p-3">
          <%= recipe.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>